<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
        <img src="../../../../assets/user-avatar.png" class="col-3">
        <div class="col-9">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Aditya Mangalampalli</h6>
                <small>3 days ago</small>
            </div>
            <p class="mb-1"></p>
            <small>Javascript, Angular</small>

        </div>
    </div>
</a>